.button {
  /* shared button styles */
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.primary-button {
  background-color: #1b6990;
}

.primary-button:hover {
  background-color: #154f6b;
}

.secondary-button {
  background-color: #ff634d;
}

.secondary-button:hover {
  background-color: #cc5141;
}

.tertiary-button,
.quaternary-button {
  background-color: #11bb99;
}

.tertiary-button:hover,
.quaternary-button:hover {
  background-color: #0a9078;
}
