.button {
  /* button background */
  background-color: #3897f0;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  /* text */
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.secondary-button {
  /* button background */
  background-color: #3897f0;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  /* text */
  color: white;
  font-size: 16px;
  font-weight: bold;
}
