.recipe-card {
  box-sizing: border-box;
  padding: 0px;
  /* border: 1px solid #777; */
}
.recipe-card:hover {
  filter: brightness(80%);
}

.aspect-ratio-box {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 3/4 = 0.75 which is 75% */
  overflow: hidden;
}

.recipe-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Optional based on desired behavior */
}

.recipe-card-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #777;
}
.recipe-card-title:hover {
  color: #148dff;
}
