/* Profile Screen */

.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 40px;
}

.profile-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  justify-content: center;
  align-items: center;
}

.profile-title {
  display: flex;
  gap: 24px;
}

.profile-username {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.profile-buttons {
  display: flex;
  gap: 12px;
}

.profile-stats {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  padding-bottom: 20px;
}

.profile-stats-item {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  color: #333;
}

.profile-stats-item:hover {
  color: #148dff; /* bluer color on hover */
}

.profile-bio {
  font-size: 16px;
  width: 320px;
  max-height: 200px;
  word-wrap: break-word;
  overflow: hidden;
  margin: 0;
  text-align: left;
}

hr {
  border: none;
  border-top: 1px solid #777;
  margin: 50px auto;
  margin-top: 0; /* Might Update */
  width: 700px;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 1px;
}

.recipe-heading {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-top: 50px; /* Might Update */
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 30px;
  max-width: 880px;
  margin: 0;
}

/* Edit Profile Screen */

input[type="file"] {
  display: none;
}

.upload-avatar-buttons {
  display: flex;
  gap: 20px;
}

.edit-profile-input-section {
  width: 280px;
  padding: 0;
  align-items: center;
  display: flex;
}

.edit-profile-form {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.text-input {
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  /* vertical-align: middle; */
  background-color: #fafbfc;
  /* background-repeat: no-repeat; */
  /* background-position: right 8px center; */
  border: 2px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  transition: border-color 0.15s ease-in-out;
}

.text-input:focus {
  border-color: #0366d6;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .recipe-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile-info {
    gap: 30px;
  }
}

@media screen and (max-width: 480px) {
  .profile-title {
    flex-direction: column;
    text-align: left;
  }

  .profile-bio {
    width: auto;
  }
}
