.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-title {
  font-size: 28px;
  font-weight: 700;
}

.recipe-author-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.recipe-author-text {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

.recipe-author-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.recipe-image {
  max-width: 500px;
  max-height: 500px;
}

.recipe-description {
  font-size: 16px;
  margin: 0;
}

.recipe-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 20px;
}

.recipe-info-list {
  display: flex;
  justify-content: flex-start;
  width: 500px;
}

.recipe-info-text {
  max-width: 500px;
  margin: 10px;
  text-align: left;
}

.recipe-user-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

/* EditRecipeScreen */

.edit-recipe-form {
  width: 400px;
  text-align: initial;
}

.edit-direction-container {
  position: relative;
  display: flex;
  width: 400px;
  gap: 10px;
  margin: 10px;
}

.text-input {
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  /* vertical-align: middle; */
  background-color: #fafbfc;
  /* background-repeat: no-repeat; */
  /* background-position: right 8px center; */
  border: 2px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 38px;
  height: "auto";
  resize: vertical;
  transition: border-color 0.15s ease-in-out;
  padding-right: 12px !important;
  overflow: hidden;
}

.text-input:focus {
  border-color: #0366d6;
}

@media screen and (max-width: 600px) {
  .recipe-image {
    width: 100%;
    height: auto;
  }

  .recipe-info-list {
    width: 100%;
    flex-direction: column;
  }
}
