@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

body {
  margin: 0;
}

.nav {
  height: 80px;
  background-color: #ff9a4d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.nav-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-site-icon {
  width: 4.5rem;
  height: auto;
}

.nav-site-title {
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2.5rem;
  color: #fff;
  padding-top: 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #b26c36;
  height: 100%;
}

.nav li:hover {
  background-color: #ffb95c;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .nav-site-title {
    display: none;
  }
}
