* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 130px;
  background-color: #ff9a4d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1em;
  padding-top: 30px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icon {
  width: 36px;
  height: auto;
}

.link {
  color: white;
}
