* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  background-color: #ff9a4d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
  font-size: 1em;
  margin-top: auto;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.icon {
  width: 60px;
  height: 60px;
}

.link {
  color: white;
}
