.container {
  text-align: center;
}

main {
  /* footer height = 130px */
  /* navbar height = 60px */
  /* (min-height: calc(100vh - 250px); */
  min-height: calc(100vh - 190px);
  max-width: 100%;
  background-color: #fff3e0;
}
