/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #e0ecf8;
  font-family: "Jua", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* Add more global styles as needed */
