/* global.css */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fff3e0;
  font-family: "Baloo 2", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}

/* Add more global styles as needed */
